# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android/Capacitor/Cordova
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
capacitor-cordova-android-plugins/build/

# Build y dist en cualquier subcarpeta
**/build/
**/dist/

# Dumps y backups
*.dump
*.bak
*.backup

# Database
src/data/*.db
src/data/*.sqlite
src/data/*.sqlite3

# OS
Thumbs.db

.vercel
.env*.local
